body {
    font-family: Arial; 
    padding: 0
}

.icon{
    max-height: 100%;
    margin: 2px 15px;
}

header, footer{
    display: flex;
    justify-content: space-between; 
    background-color: #241f24; 
    color: #fff; 
    height: 50px;
    align-items: center
}

.container{
    display: flex;
    flex-direction: column;
}

ul li{ 
    display: inline;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

ul{
    margin: 20px;
}

h1{
    font-size: 50px 
}
h2{
    font-size: 30px;
    color: #e65c5f; 
}

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}